#c{
    
    border: 1px black;
    background-image: url(../Bilder/neon.jpg);
    background-size: cover;
}
#pplBild{
    display: none;
}
#pprBild{
    display: none;
}
#pblBild{
    display: none;
}
#pbrBild{
    display: none;
}
#bulletBild{
    display: none;
}
#bulletRightBild{
    display: none;
}
#sixBullets{
    display: none;
}
#fiveBullets{
    display: none;
}
#fourBullets{
    display: none;
}
#threeBullets{
    display: none;
}
#twoBullets{
    display: none;
}
#oneBullets{
    display: none;
}
#zeroBullets{
    display: none;
}
#arrowUp{
    display: none;
}
#victoryBlue{
    display: none;
}
#victoryPink{
    display: none;
}
#pinkHeart{
    display: none;
}
#blueHeart{
    display: none;
}